
@{
    ViewData["Title"] = "ResetPassword";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>ResetPassword</h1>

<form asp-controller="Admin" asp-action="ResetPassword" method="post">
    <label for="userName">Kullanıcı Adı:</label><br />
    <input type="text" id="userName" name="userName" required /><br /><br />

    <label for="newPassword">Yeni Şifre:</label><br />
    <input type="password" id="newPassword" name="newPassword" required /><br /><br />

    <button type="submit">Şifreyi Sıfırla</button>
</form>